body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #e0d14494;
    color: #272727;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slogo {
    font-size: 30px;
    font-weight: bold;
}

header {
    background-color: #e4d575;
    padding: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 4px rgba(233, 139, 139, 0.1);
    color: #fffef3;
    text-align: center;
    font-family: Georgia, serif;
}

nav {
    background: #d4b53b;
    color: #fff;
    padding: 0.5px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
    padding: 10px 2px;
}

button {
    background-color: #7a722f;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #d1c386;
    color: #7c6464;
}

h1 {
    color: #aca10e;
    font-size: 18px;
    font-family: Georgia, serif;
}

p {
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    border: 2px solid #aca10e;
    border-radius: 7px;
    background-color: rgb(243, 197, 97);
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    color: rgba(126, 78, 7, 0.932);
    margin: 5px 0;
}

li {
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0;
    list-style-type: decimal;
    padding-left: 20px;
}

/* Media Query untuk layar kecil (ponsel) */
@media (max-width: 600px) {
    header {
        padding: 30px;
    }

    .slogo {
        font-size: 22px;
    }

    nav ul li {
        display: block;
        margin: 8px 0;
    }

    button {
        width: 90%;
        font-size: 14px;
    }

    h1, h2 {
        font-size: 16px;
        text-align: center;
    }

    p, li {
        font-size: 13px;
    }
}
